body {
  background-color: aliceblue;
  font-weight: bold;
}

#body-wrap {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 1fr 3fr 1.6fr 1.6fr;
  font-family: "Roboto", sans-serif;
  background-color: aliceblue;
}

#header {
  grid-column: 2;
  text-align: center;
  background-color: #84c3be;
}

#header h1 {
  margin: 10px 0;
}

.information-wrapper {
  grid-column: 2;
  grid-row: 3 / span 2;
  background-color: #84c3be;
}

#interactions {
  grid-column: 2;
  grid-row: 3 / span 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.inputfield {
  display: block;
  height: 35px;
  width: 400px;
  margin-top: 20px;
}

.buttons {
  flex: 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.guess,
.restart {
  display: block;
  border-radius: 5px;
  font-size: 18px;
  margin: 0 10px;
  width: 100px;
  height: 40px;
}

#game-info {
  grid-column: 2;
  grid-row: 4 / span 1;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.lives {
  font-size: 17.5px;
  margin-top: -4px;
}

#game-info h2 {
  flex: 1 100%;
  margin: 10px;
}

.the-word {
  flex: 1 100%;
}

.wrong-letters {
  flex: 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrong-letters {
  margin-top: 15px;
}

.guessed_letters {
  margin-left: 25px;
  font-size: 20px;
}

.win,
.lose {
  display: none;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  z-index: 1;
}

.win img,
.lose img {
  width: 250px;
  height: 200px;
  margin-top: 10px;
}

.win h2,
.lose h2 {
  margin: 5px 0;
}

.lose p {
  margin-top: 4px;
  font-size: 20px;
}

#hangman {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 2;
  align-items: center;
  background-color: white;
  z-index: 0;
}

#hangman img {
  height: 200px;
  width: 300px;
  position: absolute;
}

.guess:hover {
  color: white;
  background-color: #006400;
}

.restart:hover {
  color: white;
  background-color: #cb0000;
}

.win h2 {
  color: #cb0000;
}

.lose h2 {
  color: #000080;
}
.confetti {
  display: none;
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 50%;
  animation: confetti 5s ease-in-out -2s infinite;
  transform-origin: left top;
  z-index: 1;
}
.confetti:nth-child(1) {
  background-color: #f2d74e;
  left: 10%;
  animation-delay: 0;
}
.confetti:nth-child(2) {
  background-color: #95c3de;
  left: 20%;
  animation-delay: -5s;
}
.confetti:nth-child(3) {
  background-color: #ff9a91;
  left: 30%;
  animation-delay: -3s;
}
.confetti:nth-child(4) {
  background-color: #f2d74e;
  left: 40%;
  animation-delay: -2.5s;
}
.confetti:nth-child(5) {
  background-color: #95c3de;
  left: 50%;
  animation-delay: -4s;
}
.confetti:nth-child(6) {
  background-color: #ff9a91;
  left: 60%;
  animation-delay: -6s;
}
.confetti:nth-child(7) {
  background-color: #f2d74e;
  left: 70%;
  animation-delay: -1.5s;
}
.confetti:nth-child(8) {
  background-color: #95c3de;
  left: 80%;
  animation-delay: -2s;
}
.confetti:nth-child(9) {
  background-color: #ff9a91;
  left: 90%;
  animation-delay: -3.5s;
}
.confetti:nth-child(10) {
  background-color: #f2d74e;
  left: 100%;
  animation-delay: -2.5s;
}

@keyframes confetti {
  0% {
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

.game-over {
  grid-column: 1 / span 3;
  grid-row: 2;
  background-color: #cb0000;
  color: black;
  height: 225px;
  width: 225px;
  margin: 0 0 0 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border-radius: 50%;
  animation: game-over 5s ease-in-out -2s infinite;
  z-index: 1;
}

@keyframes game-over {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.25);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  75% {
    transform: rotate(270deg) scale(1.25);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
